<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Controle Financeiro</h1>
    <form class="form-dados" method="POST" action="/">
        <input type="date" id="date" name="date" required>
    
        <input type="text" id="description" name="description" placeholder="Descrição" required>
        <label for="payment_method">Método de Pagamento:</label>
        <label for="type">Tipo:</label>
        <input type="number" step="1" id="quantia" name="quantia" placeholder="Quantia" required>
        <input type="number" step="0.01" id="value" name="value" placeholder="Valor" required>
        <select id="payment_method" name="payment_method" required>
            <option value="Pix">Pix</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Credito_c6">Crédito C6</option>
            <option value="Credito_nu">Crédito Nubank</option>
        </select>
        <select id="type" name="type" required>
            <option value="Gasto">Gasto</option>
            <option value="Ganho">Ganho</option>
        </select>

        <button type="submit">Adicionar</button>
        <div id="spinner" style="display: none;">
            <p>Processando...</p>
            <div class="loader"></div>
        </div>
    </form>

    <input type="text" id="search-input" 
    placeholder="Busque por Data, Descrição, Valor ou Método de Pagamento..." 
    oninput="filterTable()"
    >
    <button onclick="window.location.href='/generate_excel'" class="btn-excel">Baixar Planilha Excel</button>
    <button onclick="openUploadPopup()" class="btn-planilha">Enviar Planilha</button>
    <table>
        <thead>
            <tr>
                <th>
                    <div class="filtro-box">
                    Data
                    <select id="month-filter" onchange="filterByMonth()">
                        <option value="">Todos</option>
                        {% for month in months %}
                        <option value="{{ month }}" {% if month == month_filter %}selected{% endif %}>
                            {{ month }}
                        </option>
                        {% endfor %}
                    </select>
                    </div>
                </th>                
                <th>Quantia</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>
                    <div class="filtro-box">
                    Metodo de pagamento
                    <select id="payment-filter" onchange="filterByPayment()">
                        <option value="">Todos</option>
                        {% for payment_method in payment_methods %}
                            <option value="{{ payment_method }}" {% if payment_method == payment_filter %}selected{% endif %}>
                                {{ payment_method }}
                            </option>
                        {% endfor %}
                    </select>         
                    </div>                              
                </th>
                <th>
                    <div class="filtro-box">
                    Tipo
                    <select id="tipe-filter" onchange="filterByType()">
                        <option value="">Todos</option>
                        {% for type in tipos %}
                            <option value="{{ type }}" {% if type == tipe_filter %}selected{% endif %}>
                                {{ type }}
                            </option>
                        {% endfor %}
                    </select>
                    </div>  
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[6] }}</td>
                <td>{{ transaction[2] }}</td>
                <td class="{{ 'valor-gasto' if transaction[5] == 'Gasto' else 'valor-ganho' }}">
                    {{ transaction[3] }}
                </td>
                <td class="{% if transaction[4] == 'Dinheiro' %}pagamento-dinheiro{% elif transaction[4] == 'Pix' %}pagamento-pix{% elif transaction[4] == 'Credito_nu' %}pagamento-credito-nu{% elif transaction[4] == 'Credito_c6' %}pagamento-credito-c6{% endif %}">
                    {{ transaction[4] }}
                </td>
                <td class="{{ 'tipo-gasto' if transaction[5] == 'Gasto' else 'tipo-ganho' }}">
                    {{ transaction[5] }}
                </td>
                <td>
                    <button class="edit-btn" data-id="{{ transaction[0] }}">✏️</button>
                    <button class="delete-btn" data-id="{{ transaction[0] }}">🗑️</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div id="edit-popup" class="popup hidden">
        <form id="edit-form">
            <h2>Editar Transação</h2>
            <input type="hidden" id="edit-id">
            <p>Editar</p>
            <label for="edit-date">Data:</label>
            <input type="date" id="edit-date" required>
            <label for="edit-quantia">Quantia:</label>
            <input type="number" id="edit-quantia" required>
            <label for="edit-description">Descrição:</label>
            <input type="text" id="edit-description" required>
            <label for="edit-value">Valor:</label>
            <input type="number" step="0.01" id="edit-value" required>
            <label for="edit-payment-method">Método de Pagamento:</label>
            <select id="edit-payment-method" required>
                <option value="Pix">Pix</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Credito_c6">Crédito C6</option>
                <option value="Credito_nu">Crédito Nubank</option>
            </select>
            <label for="edit-type">Tipo:</label>
            <select id="edit-type" required>
                <option value="Gasto">Gasto</option>
                <option value="Ganho">Ganho</option>
            </select>
            <button type="button" id="save-edit-btn">Salvar</button>
            <button type="button" id="cancel-edit-btn">Cancelar</button>
        </form>
    </div>  

    <div id="upload-popup" class="popup-upload" style="display:none;">
        <div class="popup-content">
            <span class="close" onclick="closeUploadPopup()">&times;</span>
            <h2>Enviar Planilha de Transações</h2>
            
            <!-- Formulário de Upload -->
            <form id="uploadForm" action="/upload_excel" method="post" enctype="multipart/form-data">
                <label for="file">Escolha a planilha (.xlsx):</label>
                <input type="file" id="file" name="file" accept=".xlsx" required>
                
                <button type="submit">Enviar Planilha</button>
            </form>
            
            <br>
            <!-- Link para Baixar a Planilha de Exemplo -->
            <a href="/download_example" download="exemplo_transacoes.xlsx">Baixar Planilha de Exemplo</a>
        </div>
    </div>



    <script src="/static/popup.js"></script>    
    <script src="/static/filter.js"></script>
    <script src="/static/busca.js"></script>   
    <script src="/static/padrao.js"></script>
    <script>
        // Seleciona o formulário, o spinner e o popup
        const uploadForm = document.getElementById('uploadForm');
        const spinner = document.getElementById('spinner');
        const uploadPopup = document.getElementById('upload-popup');

        uploadForm.addEventListener('submit', (event) => {
            event.preventDefault(); // Evita o recarregamento da página
            
            // Exibe o spinner
            spinner.style.display = 'block';
            
            // Fecha o popup imediatamente
            uploadPopup.style.display = 'none';
            
            // Cria um objeto FormData para enviar o formulário
            const formData = new FormData(uploadForm);
            
            // Envia o formulário via fetch (AJAX)
            fetch(uploadForm.action, {
                method: 'POST',
                body: formData,
            })
            .then((response) => {
                if (response.ok) {
                    // Espera o processamento do arquivo, então oculta o spinner
                    spinner.style.display = 'none';
                    location.reload();
                } else {
                    // Em caso de erro, exibe uma mensagem
                    alert('Erro ao enviar a planilha. Verifique o arquivo e tente novamente.');
                    spinner.style.display = 'none'; // Garante que o spinner seja ocultado
                }
            })
            .catch((error) => {
                // Em caso de erro, oculta o spinner e exibe a mensagem de erro
                spinner.style.display = 'none';
                alert('Ocorreu um erro ao enviar a planilha.');
                console.error(error);
            });
        });

        // Funções para abrir e fechar o popup
        function openUploadPopup() {
            document.getElementById("upload-popup").style.display = "block";
        }

        function closeUploadPopup() {
            document.getElementById("upload-popup").style.display = "none";
        }
    </script>      
</body>
</html>
