<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <a href="/login">Login</a>
    
    <h1>Controle Financeiro</h1>
    <form class="form-dados" method="POST" action="/">
        <input type="date" id="date" name="date">
    
        <input type="text" id="description" name="description" placeholder="Descrição" required>
        <label for="payment_method">Método de Pagamento:</label>
        <label for="type">Tipo:</label>
        <input type="number" step="1" id="quantia" name="quantia" placeholder="Quantia">
        <input type="number" step="0.01" id="value" name="value" placeholder="Valor" required>
        <select id="payment_method" name="payment_method" onchange="toggleParcelasInput()" required>
            <option value="Pix">Pix</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Credito_c6">Crédito C6</option>
            <option value="Credito_nu">Crédito Nubank</option>
        </select>
        <select id="type" name="type" required>
            <option value="Gasto">Gasto</option>
            <option value="Ganho">Ganho</option>
        </select>

        <div id="parcelas-container" style="display:none;">
            <input type="number" name="parcelas" id="parcelas" min="1" placeholder="Parcelas">
        </div>

        <button type="submit">Adicionar</button>
        
        <div id="spinner" style="display: none;">
            <p>Processando...</p>
            <div class="loader"></div>
        </div>
    </form>

    <input type="text" id="search-input" 
    placeholder="Busque por Data, Descrição, Valor ou Método de Pagamento..." 
    oninput="filterTable()"
    >
    <button onclick="window.location.href='/generate_excel'" class="btn-excel">Baixar Planilha</button>
    <button onclick="openUploadPopup()" class="btn-planilha">Enviar Planilha</button>
    <button onclick="window.location.href='/download_relatorio'" class="btn-relatorio">Baixar Relatorio</button>
    <table>
        <thead>
            <tr>
                <th>
                    <div class="filtro-box">
                    Data
                    <select id="month-year-filter" onchange="filterByMonthYear()">
                        <option value="">Todos</option>
                        {% for month_year in months_years %}
                        <option value="{{ month_year }}" {% if month_year == month_year_filter %}selected{% endif %}>
                            {{ month_year }}
                        </option>
                        {% endfor %}
                    </select>
                    </div>
                </th>                
                <th>Quantia</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>
                    <div class="filtro-box">
                    Metodo de pagamento
                    <select id="payment-filter" onchange="filterByPayment()">
                        <option value="">Todos</option>
                        {% for payment_method in payment_methods %}
                            <option value="{{ payment_method }}" {% if payment_method == payment_filter %}selected{% endif %}>
                                {{ payment_method }}
                            </option>
                        {% endfor %}
                    </select>         
                    </div>                              
                </th>
                <th>
                    <div class="filtro-box">
                    Tipo
                    <select id="tipe-filter" onchange="filterByType()">
                        <option value="">Todos</option>
                        {% for type in tipos %}
                            <option value="{{ type }}" {% if type == tipe_filter %}selected{% endif %}>
                                {{ type }}
                            </option>
                        {% endfor %}
                    </select>
                    </div>  
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            {% if transactions %}
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td class="{{ 'valor-gasto' if transaction[6] == 'Gasto' else 'valor-ganho' }}">
                        {{ transaction[4] }}
                    </td>
                    <td class="{% if transaction[5] == 'Dinheiro' %}pagamento-dinheiro{% elif transaction[5] == 'Pix' %}pagamento-pix{% elif transaction[5] == 'Credito_nu' %}pagamento-credito-nu{% elif transaction[5] == 'Credito_c6' %}pagamento-credito-c6{% endif %}">
                        {{ transaction[5] }}
                    </td>
                    <td class="{{ 'tipo-gasto' if transaction[6] == 'Gasto' else 'tipo-ganho' }}">
                        {{ transaction[6] }}
                    </td>
                    <td>
                        <button class="edit-btn" data-id="{{ transaction[0] }}">✏️</button>
                        <button class="delete-btn" data-id="{{ transaction[0] }}">🗑️</button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Nenhuma transação encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
        
    </table>
    
    <div id="edit-popup" class="popup hidden">
        <form id="edit-form">
            <h2>Editar Transação</h2>
            <input type="hidden" id="edit-id">
            <p>Editar</p>
            <label for="edit-date">Data:</label>
            <input type="date" id="edit-date" required>
            <label for="edit-quantia">Quantia:</label>
            <input type="number" id="edit-quantia" required>
            <label for="edit-description">Descrição:</label>
            <input type="text" id="edit-description" required>
            <label for="edit-value">Valor:</label>
            <input type="number" step="0.01" id="edit-value" required>
            <label for="edit-payment-method">Método de Pagamento:</label>
            <select id="edit-payment-method" required>
                <option value="Pix">Pix</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Credito_c6">Crédito C6</option>
                <option value="Credito_nu">Crédito Nubank</option>
            </select>
            <label for="edit-type">Tipo:</label>
            <select id="edit-type" required>
                <option value="Gasto">Gasto</option>
                <option value="Ganho">Ganho</option>
            </select>
            <button type="button" id="save-edit-btn">Salvar</button>
            <button type="button" id="cancel-edit-btn">Cancelar</button>
        </form>
    </div>  

    <div id="upload-popup" class="popup-upload" style="display:none;">
        <div class="popup-content">
            <span class="close" onclick="closeUploadPopup()">&times;</span>
            <h2>Enviar Planilha de Transações</h2>
            
            <!-- Formulário de Upload -->
            <form id="uploadForm" action="/upload_excel" method="post" enctype="multipart/form-data">
                <label for="file">Escolha a planilha (.xlsx):</label>
                <input type="file" id="file" name="file" accept=".xlsx" required>
                
                <button type="submit">Enviar Planilha</button>
            </form>
            
            <br>
            <!-- Link para Baixar a Planilha de Exemplo -->
            <a href="/download_example" download="exemplo_transacoes.xlsx">Baixar Planilha de Exemplo</a>
        </div>
    </div>



    <script src="/static/popup.js"></script>    
    <script src="/static/filter.js"></script>
    <script src="/static/busca.js"></script>   
    <script src="/static/padrao.js"></script>
    <script>
        // Seleciona o formulário, o spinner e o popup
        const uploadForm = document.getElementById('uploadForm');
        const spinner = document.getElementById('spinner');
        const uploadPopup = document.getElementById('upload-popup');

        uploadForm.addEventListener('submit', (event) => {
            event.preventDefault(); // Evita o recarregamento da página
            
            // Exibe o spinner
            spinner.style.display = 'block';
            
            // Fecha o popup imediatamente
            uploadPopup.style.display = 'none';
            
            // Cria um objeto FormData para enviar o formulário
            const formData = new FormData(uploadForm);
            
            // Envia o formulário via fetch (AJAX)
            fetch(uploadForm.action, {
                method: 'POST',
                body: formData,
            })
            .then((response) => {
                if (response.ok) {
                    // Wait for the file processing to finish and then hide the spinner
                    spinner.style.display = 'none';
                    location.reload();  // Reload the page to reflect changes (e.g., uploaded data)
                } else {
                    // Show an error message if the file upload fails
                    alert('Erro ao enviar a planilha. Verifique o arquivo e tente novamente.');
                    spinner.style.display = 'none';  // Hide the spinner even in case of error
                }
            })
            .catch((error) => {
                // Handle any network errors
                console.error('Erro ao enviar a planilha:', error);
                alert('Erro de rede. Tente novamente mais tarde.');
                spinner.style.display = 'none';  // Hide the spinner in case of error
            });
        });

        // Funções para abrir e fechar o popup
        function openUploadPopup() {
            document.getElementById("upload-popup").style.display = "block";
        }

        function closeUploadPopup() {
            document.getElementById("upload-popup").style.display = "none";
        }
        function toggleParcelasInput() {
            var paymentMethod = document.getElementById('payment_method').value;
            var parcelasContainer = document.getElementById('parcelas-container');
            
            // Verifica se o método de pagamento é Credito_nu ou Credito_c6
            if (paymentMethod === 'Credito_c6' || paymentMethod === 'Credito_nu') {
                parcelasContainer.style.display = 'block'; // Exibe o campo de parcelas
            } else {
                parcelasContainer.style.display = 'none'; // Oculta o campo de parcelas
            }
        }

        // Chama a função ao carregar a página para garantir que o input de parcelas esteja correto
        window.onload = toggleParcelasInput;
    </script>      
</body>
</html>
